[submodule "packages/evm-chains"]
	path = packages/evm-chains
	url = https://github.com/MultipleChain/evm-chains-js.git
[submodule "packages/bitcoin"]
	path = packages/bitcoin
	url = https://github.com/MultipleChain/bitcoin-js.git
[submodule "packages/solana"]
	path = packages/solana
	url = https://github.com/MultipleChain/solana-js.git
[submodule "packages/tron"]
	path = packages/tron
	url = https://github.com/MultipleChain/tron-js.git
[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/MultipleChain/utils-js.git
[submodule "packages/web3modal"]
	path = packages/web3modal
	url = https://github.com/MultipleChain/web3modal.git
[submodule "packages/spl-token-metadata"]
	path = packages/spl-token-metadata
	url = https://github.com/MultipleChain/spl-token-metadata-js.git
